
/*   font-family: "Cormorant Garamond", serif;
 */
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
 /*     font-family: "Merriweather", serif;

 */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 /*       font-family: "Raleway", sans-serif;


 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*         font-family: "Roboto Mono", monospace; */


#game-container {
    position: relative; /* Assure que les enfants positionnés absolument se basent sur ce conteneur */
  }

.card {
    width: 450px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    transition: transform 0.3s ease;
    will-change: transform;
    touch-action: pan-y;
  }
  .card.dragging {
    transition: none; /* pas d'animation pendant le drag */
  }
  
  
  .buttongame {
    position: absolute;
    bottom: 10px;
    left: 10%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
  .info-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  #modal {
    position: fixed;
    top: 20%;
    left: 20%;
    background: white;
    padding: 20px;
    display: none;
    z-index: 999;
    border: 9px solid #87afd0;
    overflow-y: auto; /* Ajoute une scrollbar verticale si le contenu dÃŠpasse */
    scrollbar-width: thin;
    overflow-x: hidden;
    scrollbar-color: #f3a3f0;
    font-family: "Roboto Mono", monospace;
  }
  
  
  .container {
      margin-top: 220px;
      text-align: center;
      margin-left: 200px;
    
  }
  
  @media screen and (max-width: 828px) {
      .container {
          margin-left: 1px;
          margin-right: 1px;
      }
  }
  

  #presentation{
    font-size: 18px;
    background-color: rgb(123, 215, 216);
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
  }
  #presentation2{
    font-size: 18px;
    background-color: rgb(245, 166, 225);
    margin-top: 10px;
    font-family: "Roboto Mono", monospace;
  }

  .close{
    color: #f3a3f0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }


 
  #classe, #pasclasse {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  #classe img {
    width: 50px;
    height: 50px;
  }
  
  #pasclasse {
    font-size: 2rem;
    color: red;
  }

  .hidden {
    display: none;
  }